form {
    display: flex;
    flex-direction: column;
    width: 550px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
   
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 80%;
    margin-left: auto;
  }
  .form-group-acepto{
    display: flex;
  align-items: center;
  }

  input[type="checkbox"] {
    margin: -95px;
  }
  
  label.acepto {
    margin-left: -90px;
    padding: 10px;
  }
button{
    margin:20px 0  0 90px;
}
  